{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <a href="{% url 'books' book.pub_date %}">
                        <h2>{{ book.name }}</h2>
                    </a>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        {% if not full_list %}
            <div class="row">
                {%  if prev_date %}
                    <div class="col-3">
                        <a href="{% url 'books' prev_date %}" >
                            <h5><{{ prev_date }}</h5>
                        </a>
                    </div>
                {% endif %}    
                {% if next_date %}
                    <div class="col-3">
                        <a href="{% url 'books' next_date %}" >
                            <h5>{{ next_date }}></h5>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}